<div class="main-members"> 
<div class="title">登場人物</div>
  <div class="member-view">
    <form method="GET" action="member.html.erb" target="Jname">
    <input type="submit" value="参加者追加" onClick="disp('member.html.erb')">
    </form>
  </div>
</div>

<div class="main-result">
<div class="title">役職結果</div>
  <div class="tsuikabtn">
  <input type="button" id="btn1" value="結果追加">
  </div>
  <div id="d1">
    <div class="selectbox">
        <div class="selectbox-yaku">
          <select name="yakusyoku">
          <option value="yakusyoku">役職</option>
          <option value="uranaishi">占い師</option>
          <option value="reinousya">霊能者</option>
          <option value="kariudo">狩人</option>
          <option value="nekomata">猫又</option>
          <option value="hutago">双子</option>
          </select>
        </div>
        <div class="selectbox-members">
          <select name="users">
          <option value="0">役職者名</option>
          <option value="1">アンナ</option>
          <option value="2">アーニー</option>
          <option value="3">エマ</option>
          <option value="4">エリック</option>
          <option value="5">カミラ</option>
          <option value="6">クリス</option>
          <option value="7">ゲイル</option>
          <option value="8">サンドラ</option>
          <option value="9">ジェイ</option>
          <option value="10">ジェシカ</option>
          <option value="11">ショーン</option>
          <option value="12">スーザン</option>
          <option value="13">ソフィア</option>
          <option value="14">トーマス</option>
          <option value="15">フランク</option>
          <option value="16">フェイ</option>
          <option value="17">マリアンヌ</option>
          <option value="18">チャン</option>
          <option value="19">フレディ</option>
          <option value="20">ローラ</option>
          <option value="21">ヒュー</option>
          <option value="22">リリアン</option>
          <option value="23">メリル</option>
          <option value="24">バニラ</option>
          <option value="25">ミカ</option>
          <option value="26">ニック</option>
          <option value="27">マイク</option>
          <option value="28">メアリー</option>
          <option value="29">ビル</option>
          <option value="30">ロディ</option>
          </select>
        </div>
        <div class="selectbox-users">
          <select name="users">
          <option value="0">2日目</option>
          <option value="30">マリアンヌ</option>
          </select>
          </div>
        <div class="selectbox-color">
          <select name="color">
          <option value="color">色</option>
          <option value="white">⚪️</option>
          <option value="black">⚫️</option>
          </select>
        </div>
        <div class="selectbox-users">
          <select name="users">
          <option value="0">3日目</option>
          <option value="30">マリアンヌ</option>
          </select>
        </div>
        <div class="selectbox-color">
          <select name="color">
          <option value="color">色</option>
          <option value="white">⚪️</option>
          <option value="black">⚫️</option>
          </select>
        </div>
        <div class="selectbox-users">
          <select name="users">
        <option value="0">4日目</option>
        <option value="30">マリアンヌ</option>
      </select>
    </div>
    <div class="selectbox-color">
      <select name="color">
        <option value="color">色</option>
        <option value="white">⚪️</option>
        <option value="black">⚫️</option>
      </select>
    </div>
    <div class="selectbox-users">
      <select name="users">
        <option value="0">5日目</option>
        <option value="30">マリアンヌ</option>
      </select>
    </div>
    <div class="selectbox-color">
      <select name="color">
        <option value="color">色</option>
        <option value="white">⚪️</option>
        <option value="black">⚫️</option>
      </select>
    </div>
    <div class="selectbox-users">
      <select name="users">
        <option value="0">6日目</option>
        <option value="30">マリアンヌ</option>
      </select>
    </div>
    <div class="selectbox-color">
      <select name="color">
        <option value="color">色</option>
        <option value="white">⚪️</option>
        <option value="black">⚫️</option>
      </select>
    </div>
    <div class="selectbox-users">
      <select name="users">
        <option value="0">7日目</option>
        <option value="30">マリアンヌ</option>
      </select>
    </div>
    <div class="selectbox-color">
      <select name="color">
        <option value="color">色</option>
        <option value="white">⚪️</option>
        <option value="black">⚫️</option>
      </select>
    </div>
    <div class="selectbox-users">
      <select name="users">
        <option value="0">8日目</option>
        <option value="30">マリアンヌ</option>
      </select>
    </div>
    <div class="selectbox-color">
      <select name="color">
        <option value="color">色</option>
        <option value="white">⚪️</option>
        <option value="black">⚫️</option>
      </select>
    </div>
    <div class="selectbox-users">
      <select name="users">
        <option value="0">9日目</option>
        <option value="30">マリアンヌ</option>
      </select>
    </div>
    <div class="selectbox-color">
      <select name="color">
        <option value="color">色</option>
        <option value="white">⚪️</option>
        <option value="black">⚫️</option>
      </select>
    </div>
    </div>
  </div>
</div>
<div class="youtube">
  <div class="youtube-font">管理人のYouTube動画</div>
  <div class="video" id="player"></div>
</div>